<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plagiarism detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  	.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    }
  </style>
  <script type="text/javascript">
  	$(document).ready(function(){
  		$('#usrform').submit(function() {
		    $('#spinner').show(); // show animation
		    $(':submit',this).attr('disabled','disabled');
		    $('#submitbox').hide();
		    return true; // allow regular form submission
		});
  	});
  </script>
</head>
<body>

<div class="container">
	<div class="page-header">
  		<h2>Plagiarism Detection</h2>
  	</div>
  <p>Paste it here!</p>
  <form action="http://127.0.0.1:5000/submit/" id="usrform" method="post">
    <div class="form-group">
      <label for="comment">Text:</label>
      <textarea class="form-control" rows="5" name="comment" form="usrform"></textarea>
      <br>
      <select class="custom-select" form="usrform" name="selector">
        <option value="bing" selected>Bing</option>
        <option value="yahoo">Yahoo</option>
        <!-- <option value="3">Three</option> -->
      </select>
      <div id="submitbox" class="text-center">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </div>
  </form>
  <div id="spinner" class="spinner" style="display:none;">
		    <img id="img-spinner" src="{{url_for('static',filename='spinner.gif')}}" alt="Loading"/>
		</div>
</div>

</body>
</html>
